<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img [src]="course?.image" alt="Course Image" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <div>{{ course?.name }}</div>
                    <div>
                        <span>{{ currentCat?.name }}</span>
                        <!-- <img [src]="currentCat?.iconRouting" class="cat-icon" [width]="30"> -->
                    </div>
                    <div [ngClass]="{ 'wow': wow }">{{ course?.beginDate }}</div>
                    <div *ngFor="let syll of course?.syllabus">
                        <p>{{ syll }}</p>
                    </div>
                    <div *ngIf="isUserLacture && LecturerId !== -1">
                        <button class="btn btn-primary" (click)="updateCourseDetail(course)">Update Course
                            Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>