<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img [src]="course?.image" alt="Course Image" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <div>Course: {{ course?.name }}</div>
                    <div>
                        <span>Category: {{ currentCat?.name }}</span>
                    </div>
                    <div [ngClass]="{ 'wow': wow }">Begin Date: {{course?.beginDate | date:'shortDate'}}</div>
                    <div>Syllabus: </div>
                    <ul *ngFor="let syll of course?.syllabus">
                        <li>{{ syll }}</li>
                    </ul>
                    <div *ngIf="isUserLacture && LecturerId !== -1">
                        <button class="btn btn-primary" (click)="updateCourseDetail(course)">Update Course
                            Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>