
<input placeholder="enter name to search..." type="search" name="searchName" #searching (input)="serchCurseByName(searching.value)"/>
<select id="categoryId" name="categoryId" formControlName="categoryId" (change)="searchByCategory($event)">
  <option [value]="-1">default</option>
  <option *ngFor="let category of categories" [value]="category.id" >{{ category.name }}</option>
</select>
<select id="categoryId" name="categoryId" formControlName="categoryId" (change)="searchTypeLearning($event)">
  <option [value]="-1" >default</option>
  <option [value]="1" >Frontal</option>
  <option [value]="2" >Zoom</option>
</select>
 <br/>
<h2>All Courses</h2>
<div *ngFor="let course of courses">
  <!-- <app-course-detail [course]="course"></app-course-detail> -->
  <div class="col-1">{{ course?.name }}</div>
  <!-- <div class="col-2"><img src="{{getIconRouting(course)}}"></div> -->
  <img src="{{course?.image}}">
  <div class="col-2">{{course?.learningType}}</div>
  <div class="col-1">{{ course?.amount }}</div>
  <button (click)="showMore(course)">Show More</button>
  <button (click)="editCourse(course)">Edit</button>
  <button (click)="deleteCourse(course)">Delete</button>
</div>
<button (click)="addCourse()">Add Course</button>
